<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demo-microservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/34877158-026c-4721-b7c0-0349de46e4a3/resourceGroups/Devop-RG/providers/Microsoft.Web/sites/demo-microservice</ResourceId>
    <UserName>$demo-microservice</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://demo-microservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>